<div class="m-contacts">
  <h2>Who to write to?</h2>
  <div class="main-c">
    <div class="contacts-card-c">
      <div class="contacts-card">
        <input type="text">
        <ngx-simplebar class="contacts-list">
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a>
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a> 
          <a class="contact" routerLink="/r/:id">
            <img class="user-img" src="../../../assets/image.jpg" alt="">
            <div class="user">
              <div class="user-name">/admin</div>
              <div class="last-message">Hi, I just want to speack!</div>
            </div>
          </a>
        </ngx-simplebar>
      </div>
    </div>
  </div>
</div>
