<div class="m-signup">
  <h2>Are you ready?</h2>
  <div class="main-c">
    <div class="form-signup">
      <form action="">
        <label for="name">Your nickname:</label>
        <input type="text" name="name" autocomplete="off">
        <label for="password">Your password:</label>
        <input type="password" name="password" autocomplete="off">
        <button>Start chatting</button>
        <div class="user-have-account">Don't have an account? <a routerLink="/signup">Sign up</a></div> 
      </form>
    </div>
  </div>
</div>
