<div class="m-user">
  <h2>Can you to see yourself?</h2>
  <div class="main-c">
    <div class="user-card-c">
		<div class="user-card">
			<div class="main-user-info">
				<img class="user-img" src="../../../assets/image.jpg" alt="">
				<div class="user">
					<div class="user-name">username</div>
					<div class="user-status">Online</div>
				</div>
			</div>
			<span class="line"></span>
				<div class="user-link">
					User link: <span>chat.io/u/username</span>
				</div>
			<span class="line"></span>
			<ul class="user-settings">
				<li><img class="set-icon" src="../../../assets/edit.png">Edit profile</li>
				<li><img class="set-icon" src="../../../assets/notifications.png">Notifications</li>
				<li><img class="set-icon" src="../../../assets/chats.png">Chats</li>

			</ul>
		</div>
    </div>
  </div>
</div>
