.m-user {
  height: calc(100vh-50px);

  h2 {
    margin-top: 30px;
    font-size: 2em;
    text-align: center;
  }

  button {
    background: black;
    padding: 10px 20px;
    color: #fff;
    font-size: 1.2em;
    border: 0;
    width: 200px;
    font-family: 'Balsamiq Sans', cursive;
    margin: 10px auto;
    cursor: pointer;
  }
}

.main-c {
  display: flex;

  .user-card-c {
    margin: 40px auto;

    .user-card {
      display: flex;
      flex-direction: column;
      width: 300px;
      margin: auto auto;
      padding: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      border-radius: 10px;
	  	.line {
	  		width: 100%;
	  		height: 2px;
	  		margin: 20px auto;
	  		background: black
	  	}
      .main-user-info {
        display: flex;	
        align-items: center;
        .user {
        	margin-left: 20px;
        }
        .user-name {
        	font-size: 1.5em;
        	font-weight: 700;
        }
        .last-message {
        }
        img {
          width: 100px;
          height: 100px;
          border-radius: 3px;
        }
      }
    }
    .user-link {
    	span {
    		font-weight: 700;
    		text-decoration: underline;
    		cursor: pointer;
    	}
    }
    .user-settings {	
    	list-style-type: none;
    	font-size: 1.2em;
    	text-decoration: underline;
    	li {
    		margin-top: 5px;
    		display: flex;
    		align-items: center;
    		.set-icon {
    			width: 30px;
    			height: 30px;
    			margin-right: 10px;
    		}
    		cursor: pointer;
    		font-weight: 700;
    	}
    }
  }
}
