<div class="m-room">
  <h2>You are chatting with: /admin</h2>
  <div class="main-c">
    <div class="room-card-c">
      <div class="room-card">
        <div class="info-c">
          <input type="text" placeholder="  search message...">
          <div class="menu-b"><i class="fas fa-ellipsis-v"></i></div>
        </div>
        <div class="line"></div>
        <ngx-simplebar class="chat-c">
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus tenetur odio asperiores labore, laboriosam ipsum rerum ut enim, corporis, quibusdam neque error aliquam autem ratione culpa molestias omnis. Aperiam, facilis.
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
          <div class="message">
            <div class="user-message-name">/admin</div>
            <div class="message-main-c">
              <div class="text">
                Lorem ipsum dolor
              </div>
              <div class="time-message">
                12:21
              </div>
            </div>
          </div>
        </ngx-simplebar>
        <div class="line"></div>
        <div class="input-message-c">
        	<input type="text" placeholder=" input message...">
        	<button>Send</button>
        </div>
      </div>
    </div>
  </div>
</div>
